<%- include('../../layouts/header') %>

<body>
	<!-- SIDEBAR -->
	<section id="sidebar" class="hide">
		<a href="#" class="brand">
			<img src="/img/logo.png" class="brand brand-img" alt="" />
			<span class="text">AdminHub</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/">
					<i class="bx bxs-dashboard"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>

			<li class="active">
				<a href="/citizens_record">
					<i class="bx bxs-group"></i>
					<span class="text">Citizens' Records</span>
				</a>
			</li>
			<li>
				<a href="/view_report">
					<i class="bx bxs-error-alt"></i>
					<span class="text">Reports</span>
				</a>
			</li>
			<li>
				<a href="/borrower_record">
					<i class="bx bxs-package"></i>
					<span class="text">Borrowers' Records</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<!-- <li>
				<a href="#">
					<i class="bx bxs-cog"></i>
					<span class="text">Settings</span>
				</a>
			</li> -->
			<li>
				<a href="/logout" class="logout">
					<i class="bx bxs-log-out-circle"></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class="bx bx-menu"></i>
			<a href="#" class="nav-link hidden">Categories</a>
			<form action="#" class="hidden">
				<div class="form-input">
					<input type="search" name="search" placeholder="Search..." />
					<button type="submit" class="search-btn"><i class="bx bx-search"></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden />
			<label for="switch-mode" class="switch-mode"></label>
			<!-- <a href="#" class="notification">
				<i class="bx bxs-bell"></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="img/people.png" />
			</a> -->
		</nav>
		<!-- NAVBAR -->
		<% if (message) { %>
		<script>
			Swal.fire({
				title: '<%= message.titleMessage %>',
				text: '<%= message.message %>',
				icon: '<%= message.type %>',
				confirmButtonText: 'OK',
			});
		</script>
		<% } %>
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Citizens' Records</h1>
					<ul class="breadcrumb">
						<li>
							<a href="/citizens_record">Citizens' Records</a>
						</li>
						<li><i class="bx bx-chevron-right"></i></li>
						<li>
							<a class="active" href="/citizens_record">Home</a>
						</li>
					</ul>
				</div>
				<a href="/import_csv" class="add-button import-csv-button-pop">
					<i class="bx bxs-cloud-download"></i>
					<span class="text">Import CSV File</span>
				</a>
			</div>

			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Records</h3>
						<div class="add-btn-container">
							<a href="/" class="add-button add-user-btn"> <i class="bx bxs-user-plus"></i> Add User </a>
							<a href="/" class="add-button add-many-user-btn">
								<i class="bx bx-cloud-download"></i>
								<span class="text">Import Google Form Data</span>
							</a>
						</div>
						<form action="#">
							<div class="form-input">
								<input type="search" name="search" id="search" placeholder="Search..." />
								<button type="submit" class="search-btn"><i class="bx bx-search"></i></button>
							</div>
						</form>
					</div>
					<% if (users != '') { %>
					<table>
						<thead>
							<tr>
								<th>Name</th>
								<th>ID Number</th>
								<th>Age</th>
								<th>Phone</th>
								<th>Action</th>
								<th>Civil Status</th>
							</tr>
						</thead>
						<tbody>
							<% users.forEach((row, index)=> { %>
							<tr>
								<td>
									<img src="img/profilePics/<%=row.img %>" />
									<p><%= row.name %></p>
								</td>
								<td><%= row.id %></td>
								<td><%= row.age %></td>
								<td><%= row.phone %></td>

								<td>
									<a href="/edit/<%= row._id %>" class="edit youtube-link" data-text="Edit User"
										><i class="fas fa-edit fa-lg mx-1"></i
									></a>
									<a href="/delete/<%= row._id %>" class="delete youtube-link" data-text="Delete User"
										><i class="fas fa-trash fa-lg mx-1"></i
									></a>
									<a href="/more_info/<%= row._id %>" class="more youtube-link" data-text="More Info"
										><i class="fas fa-info-circle fa-lg mx-1"></i
									></a>
									<a href="/report/<%= row._id %>" class="delete youtube-link" data-text="Report User"
										><i class="fas fa-circle-exclamation fa-lg mx-1"></i
									></a>
									<a href="/give_cert/<%= row.id %>" class="edit cert youtube-link" data-text="Give Certificate"
										><i class="fas fa-certificate fa-lg mx-1"></i
									></a>
									<a href="/profile_pic/<%= row.id %>" class="more cert youtube-link" data-text="Add/Update Profile Pic"
										><i class="fas fa-id-card fa-lg mx-1"></i
									></a>
									<a href="/lend_material/<%= row.id %>" class="edit cert youtube-link" data-text="Lend Material(s)"
										><i class="fas fa-hand-holding-hand fa-lg mx-1"></i
									></a>
								</td>
								<td><span class="status <%= row.civilStatus %>"><%= row.civilStatus %></span></td>
							</tr>
							<% }) %> <% } else {%>
							<div class="no-user-message">
								<h1>No users found in the database!</h1>
							</div>
							<% } %>
							<!-- <tr>
								<td>
									<img src="img/people.png" />
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Completed</span></td>
							</tr> 
							<tr>
								<td>
									<img src="img/people.png" />
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Pending</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png" />
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status process">Process</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png" />
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Pending</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png" />
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Completed</span></td>
							</tr> -->
						</tbody>
					</table>
				</div>

				<!-- <div class="todo">
					<div class="head">
						<h3>Todos</h3>
						<i class="bx bx-plus"></i>
						<i class="bx bx-filter"></i>
					</div>
					<ul class="todo-list">
						<li class="completed">
							<p>Todo List</p>
							<i class="bx bx-dots-vertical-rounded"></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class="bx bx-dots-vertical-rounded"></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class="bx bx-dots-vertical-rounded"></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class="bx bx-dots-vertical-rounded"></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class="bx bx-dots-vertical-rounded"></i>
						</li>
					</ul>
				</div> -->
			</div>
			<!-- MODALS -->
			<!-- add user -->
			<div class="flex-container">
				<div class="container add-container hidden">
					<i class="bx bx-x icon close-modal close-add-user"></i>
					<div class="title">Add User</div>
					<div class="content">
						<form action="/add" method="post" id="add-form" class="add-user-form">
							<div class="user-details">
								<div class="input-box">
									<span class="details">Full Name</span>
									<input type="text" name="name" placeholder="Enter your name" autocomplete="no" required />
								</div>
								<div class="input-box">
									<span class="details">Address</span>
									<input type="text" name="address" placeholder="Enter your address" autocomplete="no" required />
								</div>
								<div class="input-box">
									<span class="details">Age</span>
									<input type="age" name="age" placeholder="Enter your age" autocomplete="no" required />
								</div>
								<div class="input-box">
									<span class="details">Phone Number</span>
									<input type="tel" name="phone" placeholder="Enter your number" autocomplete="no" required />
								</div>

								<div class="input-box">
									<span class="details">Occupation</span>
									<input type="text" name="occupation" placeholder="Enter here..." autocomplete="no" required />
								</div>
								<div class="input-box">
									<span class="details">Birthday</span>
									<input type="date" name="birthday" placeholder="Enter your birthday" autocomplete="no" required />
								</div>

								<div class="input-box">
									<span class="details">Mother's Name</span>
									<input type="text" name="motherName" placeholder="Enter here..." autocomplete="no" required />
								</div>
								<div class="input-box">
									<span class="details">Mother's Age</span>
									<input type="age" name="motherAge" placeholder="Enter here..." autocomplete="no" required />
								</div>
								<div class="input-box">
									<span class="details">Mother's Occupation</span>
									<input type="text" name="motherOccupation" placeholder="Enter here..." autocomplete="no" required />
								</div>

								<div class="input-box">
									<span class="details">Father's Name</span>
									<input type="text" name="fatherName" placeholder="Enter here..." autocomplete="no" required />
								</div>
								<div class="input-box">
									<span class="details">Father's Age</span>
									<input type="age" name="fatherAge" placeholder="Enter here..." autocomplete="no" required />
								</div>
								<div class="input-box">
									<span class="details">Father's Occupation</span>
									<input type="text" name="fatherOccupation" placeholder="Enter here..." autocomplete="no" required />
								</div>
							</div>
							<div class="registered-details">
								<input type="radio" name="civilStatus" value="Single" id="dot-1" />
								<input type="radio" name="civilStatus" value="Engaged" id="dot-2" />
								<input type="radio" name="civilStatus" value="Married" id="dot-3" />
								<span class="registered-title">Civil Status</span>
								<div class="category">
									<label for="dot-1">
										<span class="dot one"></span>
										<span class="registered">Single</span>
									</label>
									<label for="dot-2">
										<span class="dot two"></span>
										<span class="registered">Engaged</span>
									</label>
									<label for="dot-3">
										<span class="dot three"></span>
										<span class="registered">Married</span>
									</label>
								</div>
							</div>
							<div class="button">
								<input type="submit" class="add-button" name="submit" value="Add User" />
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- add many user -->
			<div class="center-container">
				<div class="profile-card add-many hidden">
					<i class="bx bx-x icon close-modal close-add-many-user"></i>
					<div class="image">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-6 h-6 profile-img"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
							/>
						</svg>
					</div>

					<div class="text-data">
						<span class="name">Import Google Form Data</span>
						<span class="job">NOTE: Please double check the information in the csv file before importing.</span>
						<br />
						<span class="job">Choose option: </span>
					</div>

					<div class="buttons">
						<button class="button no no-add-many">&larr; Go Back</button>

						<form class="many-user-form" action="/add_many_user" method="post" id="add-form">
							<input type="submit" name="submit" value="Proceed &rarr;" class="add-many-btn button yes" />
						</form>
					</div>
				</div>
			</div>

			<!-- import csv -->
			<div class="center-container">
				<div class="profile-card import-csv hidden">
					<i class="bx bx-x icon close-modal close-import-csv"></i>
					<div class="image">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-6 h-6 profile-img"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
							/>
						</svg>
					</div>

					<div class="text-data">
						<span class="name">Import Data From CSV File</span>
						<form class="import-csv-form" action="/upload" method="post" enctype="multipart/form-data">
							<input type="file" name="csvFile" accept=".csv" id="real-file" hidden="hidden" />
							<span class="job">NOTE: Please double check the information in the csv file before importing.</span>
							<br />
							<button type="button" id="custom-button">CHOOSE A FILE</button>

							<span id="custom-text">No file chosen, yet.</span>
							<!-- <input type="file" name="csvFile" accept=".csv" />
								<button type="submit">Upload</button> -->
							<div class="buttons">
								<button class="button no no-csv">&larr; Go Back</button>

								<input type="submit" name="submit" value="Proceed &rarr;" class="import-csv-btn button yes" />
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="overlay hidden add-user-overlay"></div>
			<div class="overlay hidden add-many-user-overlay"></div>
			<div class="overlay hidden edit-user-overlay"></div>
			<div class="overlay hidden import-csv-overlay"></div>
			<!-- END OF MODALS -->
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

	<script src="scripts/script.js"></script>
	<script src="scripts/addUser.js"></script>
	<script src="scripts/addManyUser.js"></script>
</body>
<%- include('../../layouts/footer') %>
